@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@700&display=swap");

// Imported fonts
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@700&display=swap");

// font-family: 'Gideon Roman', cursive;
// font-family: "Roboto Condensed", sans-serif;

// Variable declaration
$primarycolor: black;
$secondarycolor: seashell;
$backdrop: #656565cb;
$blog1-color:rgba(0, 0, 0, 0.529);
$cursive: "Vesper Libre", "Gideon Roman", serif;
$sans-serif: "Roboto Condensed", sans-serif;


// Global Styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.3rem;
}


// Navbar styling
nav {
  z-index: 1;
  position: absolute;
  padding: 0.5rem;
  display: flex;
  font-family: "Roboto Condensed";
  background-color: white;
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    margin-right: auto;
    align-items: center;

    li {
      padding: 0 0.8vw;
    }

    a {
      text-decoration: none;
      color: $primarycolor;
    }
  }
}

#social-links {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 25vh;

  a {
    padding: 15px;
  }
}

footer {
  background-color: white;
  font-family: sans-serif;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  text-align: center;
}


h1 {
  font-family: $sans-serif;
  font-size: 3rem;
  margin: 0rem 0rem 1rem 10vw;
  padding-top: 6rem;
}

// Resume Page Styling
#download-link {
  font-family: $sans-serif;
  padding-bottom: 1rem;
  margin-left: 10vw;
}

#pdf-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  width: 80vw;
  height: 80vh;
}

// About Me Styling

@media screen and (max-width: 300px) {
  #about-me-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .other-para {
    font-family: $sans-serif;
    width: 100%;
    padding: 0rem 0rem;
    order: 2;
  }

  #profile-pic {
    order: 3;
    width: 300px;
    padding: 1rem;
    border-radius: 4rem;
  }
}

@media screen and (min-width: 301px) {
  #about-me-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .other-para {
    order: 1;
    font-family: $sans-serif;
    width: 70%;
    padding: 0rem 2rem;
  }

  #profile-pic {
    order: 2;
    width: 400px;
    padding: 2rem;
    border-radius: 5rem;
  }
}



// Blog Styling for Desktop
@media screen and (min-width: 901px) {

  //Blog backgrounds for desktop (no repeat)
#blog1-body {
  background-image: url(images/iceland.jpg);
  background-repeat: no-repeat;
  
}
#blog2-body {
  background-image: url(images/argentina.jpg);
  background-repeat: no-repeat;
}
#blog3-body {
  background-image: url(images/korea.jpg);
  background-repeat: no-repeat;
}
#blog4-body {
  background-image: url(images/turkey.jpg);
   background-repeat: no-repeat;
}
#blog5-body {
  background-image: url(images/desert.jpg);
  background-repeat: no-repeat;
}
  .blog-heading {
    font-family: $sans-serif;
    color: $secondarycolor;
    margin-left: 8rem;
  }

  h4 {
    font-family: $sans-serif;
    color: $secondarycolor;
    margin-left: 8rem;
  }
  
  .blog-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blog-alltext {
      position: relative;
      top: 6rem;
      font-family: $sans-serif;
      width: 70%;
      background-color: $blog1-color;
      color: $secondarycolor;
      padding: 1rem;
      border-radius: 2rem;
  }

  .blog-para {
    margin-left: 4rem;
    width: 90%;
    padding: 4rem;
  }


  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    padding-top: 9rem;
  }

  button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: $sans-serif;
    font-size: 1.3rem;
    transition-duration: 0.2s;
    border-radius: 1rem;
    margin: 1rem;
  }

  button:hover {
    background-color: rgb(193, 193, 193);
    color: $secondarycolor;
  }
}

// Blog Styling for Mobile and Tablet

@media screen and (max-width: 900px) {

 //Blog backgrounds for mobile (repeat on)
#blog1-body {
  background-image: url(images/iceland.jpg);

}
#blog2-body {
  background-image: url(images/argentina.jpg);
 
}
#blog3-body {
  background-image: url(images/korea.jpg);
}
#blog4-body {
  background-image: url(images/turkey.jpg);
}
#blog5-body {
  background-image: url(images/desert.jpg);
}
 
  .blog-heading {
    margin-left: 0;
    font-family: $sans-serif;
    color: $secondarycolor;
  }

  h4 {
    margin-left: 0;
    font-family: $sans-serif;
    color: $secondarycolor;
  }
  
  .blog-container {
    width: 100%;
  }

  .blog-alltext {
      position: relative;
      top: 0rem;
      font-family: $sans-serif;
      width: 100%;
      background-color: $blog1-color;
      color: $secondarycolor;
      padding: 1rem;
      padding-bottom: 0rem;
  }

  .blog-para {
    margin-left: 0rem;
    width: 100%;
    padding: 1rem;
  }


  .buttons {
    background-color: $blog1-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
  }

  button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: $sans-serif;
    font-size: 1.3rem;
    transition-duration: 0.2s;
    border-radius: 1rem;
    margin: 1rem;
  }

  button:hover {
    background-color: rgb(193, 193, 193);
    color: $secondarycolor;
  }
}

// Contact Form Styling Mobile and Tablet
@media screen and (max-width: 1300px) {
  label {
    font-family: $sans-serif;
    font-size: 1.3rem;
  }

  #name-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .name-input {
    margin: 1rem;
    width: 50%;

    input {
      width: 100%;
      padding: 1rem 0;
    }
  }

  #other-form {
    width: 100%;
    margin: 1rem;
    padding-right: 2rem;
  }

  #email {
    width: 100%;
    padding: 1rem 0;
  }

  #message {
    width: 100%;
    padding-bottom: 3rem;
  }
}
// Contact Form Desktop
@media screen and (min-width: 1301px) {
  #contact-form {
    width: 80%;
    margin-left: 10%;
  }

  label {
    font-family: $sans-serif;
    font-size: 1.3rem;
  }

  #name-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .name-input {
    margin: 1rem;
    width: 50%;

    input {
      width: 100%;
      padding: 1rem 1rem;
      font-size: 1rem;
    }
  }

  #other-form {
    width: 100%;
    margin: 1rem;
    padding-right: 2rem;
  }

  #email {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  #message {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1rem;
  }
}


