@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


 * nav {
    z-index: 1;
    position: absolute;
    padding: 0.5rem;
    display: flex;
    font-family: "Roboto Condensed";
  }
  * nav ul {
    list-style: none;
    display: flex;
    margin-right: auto;
    align-items: center;
  }
  * nav ul li {
    padding: 0 2vw;
  }
  * nav ul a {
    text-decoration: none;
    color: $primarycolor;






// Mobile Styling
@media screen and (min-width: 1px) and (max-width: 600px) {
}
// Tablet
@media screen and (min-width: 601px) and (max-width: 1000px) {
}
// Desktop Styling
@media screen and (min-width: 1001px) {
}