@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@700&display=swap");
body {
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1px) and (max-width: 600px) {
  * nav {
    z-index: 1;
    padding: 0.5rem;
    position: absolute;
    font-family: "Roboto Condensed";
  }
  * nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  * nav ul li {
    padding: 0 2vw;
  }
  * nav ul a {
    text-decoration: none;
    color: white;
  }
  * #hero {
    top: 0;
    left: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  * #hero #my-info {
    z-index: 2;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    margin-bottom: 15%;
  }
  * #hero #my-info h1 {
    color: white;
    padding: 1rem;
    font-size: 4vh;
  }
  * #hero #my-info h3 {
    color: white;
    padding: 1rem;
    font-size: 3vh;
  }
  * #hero #video-container {
    position: absolute;
    z-index: 0;
  }
  * #blog-section h2 {
    font-size: 5vh;
    font-family: "Roboto Condensed", sans-serif;
    margin: 10vh 0 5vh 5vh;
  }
  * #blog-section #article-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  * #blog-section #article-container .blog-article {
    position: relative;
    width: 340px;
  }
  * #blog-section #article-container .blog-article img {
    width: 100%;
    border-radius: 10%;
    z-index: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  * #blog-section #article-container .blog-article .blog-article:hover {
    width: 360px;
    transition: 0.3s;
  }
  * #blog-section #article-container .blog-article .article-text {
    position: absolute;
    top: 53%;
    left: 0;
    width: auto;
    text-align: justify;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.571);
    padding: 1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  * #blog-section #article-container .blog-article .article-text h4 {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-size: 2rem;
  }
  * #social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
  }
  * #social-links a {
    padding: 15px;
  }
  * footer {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  * nav {
    z-index: 1;
    position: absolute;
    padding: 0.5rem;
    display: flex;
    font-family: "Roboto Condensed";
  }
  * nav ul {
    list-style: none;
    display: flex;
    margin-right: auto;
    align-items: center;
  }
  * nav ul li {
    padding: 0 1rem;
  }
  * nav ul a {
    text-decoration: none;
    color: white;
  }
  * #hero {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  * #hero #my-info {
    z-index: 2;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    margin-bottom: 15%;
  }
  * #hero #my-info h1 {
    color: white;
    padding-top: 5rem;
    font-size: 5vh;
  }
  * #hero #my-info h3 {
    color: white;
    padding: 1rem;
    font-size: 4vh;
  }
  * #hero #video-container {
    position: absolute;
    z-index: 0;
  }
  * #blog-section h2 {
    color: white;
    font-size: 5vh;
    font-family: "Roboto Condensed", sans-serif;
    margin: 10vh 0 5vh 10vh;
  }
  * #blog-section #article-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  * #blog-section #article-container .blog-article {
    position: relative;
    width: 340px;
  }
  * #blog-section #article-container .blog-article img {
    width: 100%;
    border-radius: 10%;
    z-index: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  * #blog-section #article-container .blog-article .article-text {
    position: absolute;
    top: 53%;
    left: 0;
    width: auto;
    text-align: justify;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.571);
    padding: 1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  * #blog-section #article-container .blog-article .article-text a {
    text-decoration: none;
  }
  * #blog-section #article-container .blog-article .article-text h4 {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-size: 2rem;
  }
  * #blog-section #article-container .blog-article .article-text .blog-article:hover {
    width: 360px;
    transition: 0.3s;
  }
  * #social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
  }
  * #social-links a {
    padding: 15px;
  }
  * footer {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1001px) {
  * nav {
    z-index: 1;
    position: absolute;
    padding: 0.5rem;
    display: flex;
    font-family: "Roboto Condensed";
  }
  * nav ul {
    list-style: none;
    display: flex;
    margin-right: auto;
    align-items: center;
  }
  * nav ul li {
    padding: 0 1rem;
  }
  * nav ul a {
    text-decoration: none;
    color: white;
  }
  * #hero {
    top: 0;
    left: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  * #hero #my-info {
    z-index: 2;
    font-family: "Roboto Condensed", sans-serif;
    margin-right: 37vw;
    margin-top: 45vh;
  }
  * #hero #my-info h1 {
    color: white;
    padding: 1rem;
    font-size: 11vh;
  }
  * #hero #my-info h3 {
    color: white;
    padding: 1rem;
    font-size: 8vh;
  }
  * #hero #video-container {
    position: absolute;
    z-index: 0;
  }
  * #blog-section h2 {
    font-size: 5vh;
    font-family: "Roboto Condensed", sans-serif;
    margin: 10vh 0 5vh 10vh;
  }
  * #blog-section #article-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 400px 2;
  }
  * #blog-section #article-container .blog-article {
    position: relative;
    width: 340px;
  }
  * #blog-section #article-container .blog-article img {
    width: 100%;
    border-radius: 10%;
    z-index: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  * #blog-section #article-container .blog-article .article-text {
    position: absolute;
    top: 53%;
    left: 0;
    width: auto;
    text-align: justify;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.571);
    padding: 1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  * #blog-section #article-container .blog-article .article-text a {
    text-decoration: none;
  }
  * #blog-section #article-container .blog-article .article-text h4 {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-size: 2rem;
  }
  * #blog-section #article-container .blog-article:hover {
    width: 360px;
    transition: 0.3s;
  }
  * #social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40vh;
  }
  * #social-links a {
    padding: 15px;
  }
  * footer {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
